
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  padding-top: 30px;
  
}

.container{
  width: 1200px;
  text-align: center;
}


#logo,
.container,
.list-container{
  margin: 0 auto;
}

.button,
input,
.list-container{
  border-radius: 10px;
}

#logo{
  width: 500px;
  margin-bottom: 20px;
}

#logo img{
  width: 100%;
}

input{
  margin-bottom: 30px;
  width: 500px;
  height: 50px;
  padding-left: 15px;
}

  .button,
  .list-container{
    background-color: #F5F7F7;
  }

.button{
  height: 50px;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #000;
  cursor: pointer;
}

.button span{
  line-height: 50px;
}


.list-container{
  width: 600px;
  padding: 50px 20px;

}

li{
  text-align: left;
  list-style:none;
  position: relative;
  border-bottom: 1px solid #ccc;
  padding-bottom: 7px;
  margin-bottom: 20px;
}


.fas.fa-times{
  position: absolute;
  top:0;
  right: 10px;
  cursor: pointer;
}
