
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  background-color: lightblue;
  width: 300px;
  margin:0 auto;
  text-align: left;
  list-style:none;
  position: relative;
}

input{
  margin-bottom: 30px;
}

.container{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.contenitore-lista{
  width: 300px;
  height: 600px;
  border: 1px solid black;
  margin:0 auto;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px,
             rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
}

.fas.fa-times{
  position: absolute;
  top:0;
  right: 10px;
  cursor: pointer;
}
